@media screen and (max-width:1120px) {
.left-side{
  display: none !important;
}
  
}
.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.left-side {
  left: 0px;
  height: 100vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

