@media print {
     .nameInput{
      left: 8.8cm !important;
      top:10cm !important;
      font-size: 48px !important;
      
    }
    .evaluateInput{
      left: 7.5cm !important;
      top:12cm !important;
      font-size: 30px !important;
    }
    .dateInput{
      left: 16.7cm !important ;
      font-size: 30px !important;
      bottom: 3.7cm !important;
    } 
    .left-side {
      width: 100% !important;
    }

    .right-side {
      display: none;
    }
  
    .content-wrapper {
      width: 100% !important;
      height: 100% !important;
      border: none !important;
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
  
  .content-wrapper {
    width: 594px;
    height: 420px;
    position: relative;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  
  .backG{
    height: 100%;
    width: 100%;
    object-fit: contain;

  }
  
 .nameInput{
    position: absolute;
    text-align: center;
    left: 160px;
    font-family: 'Roboto Condensed', sans-serif;
    top:200px;
    font-size: 25.6px;
 }
 .evaluateInput{
    position: absolute;
    text-align: center;
    left: 136px;
    font-weight: normal ;
    font-style: italic;
    top:240px;
    font-size: 16px;
 }
  .dateInput{
    position: absolute;
    text-align: center;
    left: 334px;
    bottom:74px;
    font-size: 16px;
  }
